@use "variables";
@use "functions";

a,
a:hover,
a:active,
a:visited {
    cursor: pointer;
    text-decoration: none;
}

@media (hover: hover) {
    a:hover {
        color: variables.$accent2;
        -webkit-filter: blur(1px);
        filter: blur(1px);
    }
}

a:active,
a:focus,
a:visited {
    filter: blur(0px) !important;
    -webkit-filter: blur(0px) !important;
}

h1 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-family: variables.$sans-ui;
}

h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-family: variables.$sans-ui;
}

/* Simply h tags are set globally with clamp*/
h1 {
    font-size: functions.clamped(32px, 40px, 380px, 1920px);
    margin-bottom: 1.5rem;
    color: variables.$secondary;
}

h2 {
    font-size: functions.clamped(24px, 32px, 380px, 1920px);
    margin-bottom: 1rem;
    color: variables.$secondary;
}

h3 {
    font-size: functions.clamped(20px, 24px, 380px, 1920px);
    margin-bottom: 0.5rem;
    color: variables.$secondary;
}

h4 {
    font-size: functions.clamped(16px, 20px, 380px, 1920px);
    margin-bottom: 0.5rem;
    color: variables.$secondary;
}

h5 {
    font-size: functions.clamped(12px, 16px, 380px, 1920px);
    margin-bottom: 0.5rem;
    color: variables.$secondary;
    letter-spacing: .8px;
}

p {
    line-height: 1.5;
}
