@use "variables";
@use "functions";

a,
a:hover,
a:active,
a:visited {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: variables.$accent1;
    -webkit-filter: blur(1px);
            filter: blur(1px);
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-family: variables.$sans-ui;
}

h1 {
    margin-bottom: 0.1rem;
}

h4 {
    margin-bottom: 1rem;
}

/* Simply h tags are set globally with clamp*/

h1 {
    font-size: functions.clamped(32px, 40px, 380px, 1920px);
}

h4 {
    font-size: functions.clamped(14px, 16px, 380px, 1920px);
}

p {
    line-height: 1.2;
}
