@use "variables";

a,
a:hover,
a:active,
a:visited {
    cursor: pointer;
    color: unset;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 0px;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: variables.$sans-ui;
}

p {
    line-height: 1.2;
}
