@use "variables";
@use "functions";

a,
a:hover,
a:active,
a:visited {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: variables.$accent1;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
    font-family: variables.$sans-ui;
    font-weight: 400;
}

/* Simply h tags are set globally with clamp*/
h1 {
    font-size: functions.clamped(32px, 40px, 380px, 1920px);
    margin-bottom: .5rem;
    color: variables.$secondary;
}

h2 {
    font-size: functions.clamped(24px, 32px, 380px, 1920px);
    margin-bottom: .5rem;
    color: variables.$secondary;
}

h3 {
    font-size: functions.clamped(20px, 24px, 380px, 1920px);
    margin-bottom: .5rem;
    color: variables.$secondary;
}

h4 {
    font-size: functions.clamped(16px, 20px, 380px, 1920px);
    margin-bottom: .5rem;
    color: variables.$secondary;
}

p {
    line-height: 1.2;
}
