.dark-mode {
    --primary: #252422;
    --secondary: #fffcf2;
    --accent1: #3c3d37;
    --accent2: #697565;
    --color-scheme: dark;
}

.light-mode {
    --primary: #fffcf2;
    --secondary: #252422;
    --accent1: #697565;
    --accent2: #3c3d37;
    --color-scheme: light;
}

$primary: var(--primary);
$secondary: var(--secondary);
$accent1: var(--accent1);
$accent2: var(--accent2);
$color-scheme: var(--color-scheme);

// Fonts
$sans-ui: "Inter";
$sans-ui-opt: auto;
$sans-ui-wgt: 600;
$sans-ui-stl: normal;

$sans-text: "Sora";
$sans-text-opt: auto;
$sans-text-wgt: 500;
$sans-text-stl: normal;

// Font sizes rem - px (we do not set a base)
// Naming as if base was 16, browser default
// But by not setting base we free user up
// Using clamp mixin where responsive is needed (see mixins)

$fs-18: 1.125rem; //18
$fs-16: 1rem; //16
$fs-14: 0.875rem; //14
$fs-10: 0.625rem; //10
