$primary: #1e201e; // bg
$secondary: #ecdfcc; // font
$accent1: #3c3d37;
$accent2: #697565;

$primary: #252422; // bg
$secondary: #fffcf2; // font
$accent1: #403d39;
$accent2: #ccc5b9;
$accent3: #697565;

// Fonts
$sans-ui: "Lexend";
$sans-ui-opt: auto;
$sans-ui-wgt: 600;
$sans-ui-stl: normal;

$sans-text: "Space Grotesk";
$sans-text-opt: auto;
$sans-text-wgt: 500;
$sans-text-stl: normal;

// Font sizes rem - px (we do not set a base)
// Naming as if base was 16, browser default
// But by not setting base we free user up
// Using clamp mixin where responsive is needed (see mixins)

$fs-18: 1.125rem; //18
$fs-16: 1rem; //16
$fs-14: 0.875rem; //14
$fs-10: 0.625rem; //10

:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --accent1: #{$accent1};
    --accent2: #{$accent2};
}
